<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- For Android 12 and above -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" /> <!-- For Android 13 and above -->
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/smartspend_app_logo"
        android:label="SmartSpend"
        tools:replace="android:label"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartSpend"
        tools:targetApi="31">
        <activity
            android:name=".EditCategory"
            android:exported="false" />

        <receiver android:name=".NotificationReceiver" />

        <activity
            android:name=".GoalDetails"
            android:exported="false" />
        <activity
            android:name=".History"
            android:exported="false" />
        <activity
            android:name=".CategoryClicked"
            android:exported="false" />
        <activity
            android:name=".DetailedView"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".Reminders"
            android:exported="false" />
        <activity
            android:name=".Notifications"
            android:exported="false" />
        <activity
            android:name=".SavingGoals"
            android:exported="false" /> <!-- Register Activity -->
        <activity
            android:name=".Register"
            android:exported="true" /> <!-- Login Activity set as Launcher -->
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Main Activity (no longer the launcher) -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <service
            android:name=".SSFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>